.MyMenu-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    position: relative;
}

.MyMenu-spinner-dot {
    width: 25px;
    height: 25px;
    background: #d66c1b;
    position: absolute;
}

.MyMenu-spinner-ring {
    width: 50px;
    height: 50px;
    border: 4px solid transparent;

    border-top: 2px solid #d25c03;
    border-right: 3px solid #d25c03;
    border-bottom: 0px solid #d25c03;
    border-left: 1px double #d25c03;
    border-radius: 50%;
}